<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home Automation Hub</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            $("button").on("click", function (event) {
                device = event.target.getAttribute("hau-device")
                action = event.target.getAttribute("hau-action")
                $.ajax({
                    url: "/api/" + device,
                    type: 'PUT',
                    data: action
                })
            })
        })
    </script>
</head>
<body>
    <div class="container">
    <h2>Home Automation Hub</h2>

    <h2>Switches</h2>
    {{ range .Devices }}
    <div>
    <h3></h3>
    <button type="button" class="btn btn-secondary" hau-device="{{ .ID }}" hau-action="on">{{ .Name }} on</button>
    <button type="button" class="btn btn-secondary" hau-device="{{ .ID }}" hau-action="off">{{ .Name }} off</button>
    </div>
    {{ end }}
    </div>
</body>
</html>