<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>HAL - Home Automation Link</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            $("button").on("click", function (event) {
                device = event.target.getAttribute("hal-device")
                action = event.target.getAttribute("hal-action")
                $.ajax({
                    url: "/api/" + device,
                    type: 'PUT',
                    data: action
                })
            })

            var connection = new WebSocket("ws://" + document.location.host + "/api/ws");
            connection.onmessage = function (message) {
                console.log("received: " + message.data)

                var msg = JSON.parse(message.data)
                var label = $("label[hal-device=" + msg.DeviceId + "]")
                if (label != null) {
                    if (msg.Payload.State == true) {
                        label.text("Device is on")
                    } else {
                        label.text("Device is off")
                    }
                }

                var mqttLog = $("#mqttLog")
                mqttLog.append(message.data + "<br>")
            };
        })
    </script>
</head>
<body>
    <div class="container">
        <h1>Home Automation Link 9000</h1>

        {{ range .Rooms }}
        <h2>{{ .Name }}</h2>
        {{ range .Devices }}
        <div>
        <h3>{{ .Name }}</h3>
        <label hal-device="{{ .ID }}">{{ .State }}</label>
        <button type="button" class="btn btn-secondary" hal-device="{{ .ID }}" hal-action="on">On</button>
        <button type="button" class="btn btn-secondary" hal-device="{{ .ID }}" hal-action="off">Off</button>
        </div>
        {{ end }}
        {{ end }}

        <h2>MQTT Log</h2>
        <label id="mqttLog"></label>
    </div>
</body>
</html>
